<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body class="container-main p-3">
        <header>
            <h1>Header</h1>
        </header>
        <main>
            <h2>Hello world</h2>
            <p>Avaliações: <%= contagemAvaliacoes %></p>
            <p>Média das notas: <%= mediaNotas %></p>
            <a href="/">Retornar</a>
        </main>
    </body>
</html>
