<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body class="container-main p-3">
        <header>
            <h1>Página não encontrada</h1>
        </header>
        <main>
            <p>O recurso que está tentando acessar não fo encontrado no servidor</p>
            <div class="text-center">
                <a href="/" class="btn btn-secondary rounded-pill">Retornar</a>
            </div>
        </main>
    </body>
</html>
