<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <h1>SegureMe Poll</h1>
        </header>
        <main>
            <h1>Agradecemos sua participação</h1>
            <% for (const pergunta of perguntas) { %>
                <section>
                    <h3><%= pergunta.texto %> TESTE</h3>
                    <p>Dica: <%= pergunta.dica %></p>
                </section>
            <% } %>
            <a href="/">Retornar</a>
        </main>
    </body>
</html>
